body{
	background-color:#FCEBB6 ;
	
}
#right{
width:600px;
float:right;
background-color:red;	
height:1600px;
}

#header{
	background-color:
	color:#E412F5;

	text-align: center;
	padding:10px;
}
#content{
padding: 10px;
float:left;
	
}

#nav {
width: 30%;
    height:100%;
	float :left;
    background-color: azure;
}

v
#main{
width:800px;
	float:right;
	border-style:ridged;

}

#footer{
clear:both;
padding:10px;
background-color: #FCEBB6;
text-align: center;
}
h1,h2, h3{
	margin:0;

}
#nav ul{
list-style-type: none;
padding :0;

}
p
{font-family:sans;
font-style:italic;


}
a:link, a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: (internal value);
} 
a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);



